.pagination-row {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin: 32px;
}

ul {
    list-style-type: none;
}

.pagination-page {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 16px;
    border-radius: 3px;
}

.pagination-page li:hover {
    background: rgba(244, 139, 41, 0.5);
    margin: 16px;
}

.page-link,
.page-link:visited {
    text-decoration: none;
    font-weight: 600;
    color: #101010;
}

.pagination-page:hover {
    background: rgba(240, 201, 41, 0.35);
}

.activePage {
    background: rgb(240, 201, 41);
}


