.profile-container {
    display: flex;
    justify-content: center;

    margin-top: 50px;
}

.personal-details-form {
    width: 500px;
    padding: 20px;
    background-color: #F8F4EF;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-details-form h1 {
    margin: 16px;
}

.personal-details-form h3 {
    margin: 16px;
}

.personal-details-title {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.edit-button {
    width: 110px;
    height: 4vh;
    margin-left: -10px;
    background-color: #AC0D0D;
    color: #ffffff;
    border: none;
    border-radius: 6px;

    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: lowercase;
    cursor: pointer;
}