.sign-out-button {
    border: none;
    background-color: #101010;
    color: #ffffff;
    margin-right: 20px;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.sign-out-button:hover {
    border-bottom: 2px solid #ffffff;
}
