.movie-container {
    width: 250px;
    margin: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-container img {
    height: 350px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.movie-info {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

}

.movie-info h3 {
    font-family: Roboto, sans-serif;
}

.movie-info span {
    border: 2px solid #101010;
    background-color: #101010;
    color: #eeeeee;
    font-weight: bolder;
    border-radius: 5px;
    padding: 5px;
}

.title-link,
.title-link:visited {
    text-decoration: none;
    color: #101010;
}

.title-link:hover {
    color: #F48B29;
}



